.custom-table .react-bootstrap-table th {
  background-color: #f8f9fa; /* Tablo başlığı arka plan rengi */
}

.custom-table .react-bootstrap-table td {
  background-color: #ffffff; /* Tablo hücreleri arka plan rengi */
}

.custom-table .react-bootstrap-table-striped tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Çizgili tabloda tek sıra arka plan rengi */
}
.custom-table .react-bootstrap-table th {
  background-color: #faf8fa; /* Tablo başlığı arka plan rengi */
}

.custom-table .react-bootstrap-table td {
  background-color: #ffffff; /* Tablo hücreleri arka plan rengi */
}

.custom-table .react-bootstrap-table-striped tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Çizgili tabloda tek sıra arka plan rengi */
}
.custom-header {
  background-color: #f8f9fa; /* Sütun başlıklarının arka plan rengi */
  color: #000000; /* Sütun başlıklarının metin rengi */
  font-weight: bold; /* Sütun başlıklarının kalınlığı */
  
}
